app = "xxko"
primary_region = "iad"

[build]
# Deploy with: flyctl deploy --image "$(nix build .#docker --no-link --print-out-paths)"
image = 'registry.fly.io/xxko:latest'

[env]
HOST = "127.0.0.1"
PORT = "3000"
DATABASE_URL = "file:/data/xxko.db"
AWS_ENDPOINT_URL_S3 = "https://fly.storage.tigris.dev"
AWS_REGION = "auto"
LITESTREAM_BUCKET = "wandering-darkness-7981"
LITESTREAM_REPLICA_PATH = "xxko"

[mounts]
source = "data"
destination = "/data"
# initial_size = "20gb"

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 0
processes = ["app"]
