@import 'tailwindcss';
/* @plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography'; */

@plugin 'flowbite/plugin';

/* App-wide defaults */

/* Make dark mode follow a .dark class on <html> (or any ancestor) */
@custom-variant dark (&:where(.dark, .dark *));

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

:root {
	color-scheme: light dark;
}
